@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
html,
body {
  --main-black: #141a26;
  --brown: #361510;
  --orangeish: #b63a23;
  --purpurish: #702323;
  --white-accent: #f1a589;
  position: relative;
  height: 100vh;
  background-color: var(--white-accent);
  display: flex;
  flex-direction: column;
  color: var(--white-accent);
  align-items: center;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}
button {
  font-family: "Open Sans", sans-serif;
}
header {
  background: var(--main-black);
  position: fixed;
  line-height: 7vh;
  top: 0;
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  font-size: xx-large;
  font-weight: 550;
  letter-spacing: 7px;
}
.header-side {
  width: 5vw;
  line-height: 3.5vh;
  font-size: medium;
  display: flex;
  padding: 1.5vmin;
}
#logout-btn {
  flex-grow: 1;
}
#send-msg {
  width: 5vw;
}
#logout-btn,
#send-msg,
#add-img,
#profile {
  border: none;
  background: var(--purpurish);
  color: var(--white-accent);
  cursor: pointer;
  transition: all 0.3s ease;
}
#logout-btn:hover,
#send-msg:hover,
#add-img:hover,
#profile:hover {
  background: var(--orangeish);
}
header img {
  height: 100%;
}
#header-center {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
}
#messages-container {
  width: 35vw;
  margin-top: 8vh;
}
#new-message {
  background: var(--main-black);
  margin: 1vmin;
  border-radius: 17px;
  padding: 2vmin;
}
#new-message form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#new-message form textarea {
  flex-grow: 1;
  color: var(--white-accent);
  font-family: "Open Sans", sans-serif;
  border: none;
  resize: none;
  background: none;
  line-height: 3vh;
  height: 10vh;
}
#new-msg-bottom-bar {
  margin-top: 5px;
  display: flex;
  height: 5vh;
}
#new-msg-bottom-bar-left {
  height: 100%;
  flex-grow: 1;
}
#new-msg-bottom-bar-left button {
  height: 100%;
}
#feed {
  padding: 1vmin;
}
.message {
  background: var(--main-black);
  border-radius: 17px;
  padding: 2vmin;
  margin-bottom: 1.5vh;
}
.message a {
  font-size: larger;
  font-weight: 700;
}
.message p {
  word-wrap: break-word;
}
.message span {
  font-size: smaller;
  opacity: 0.3;
  text-align: right;
}
.date-container {
  display: flex;
  flex-direction: row-reverse;
}
.input-error {
  text-decoration: underline red;
}
.input-error::placeholder {
  content: "You didn't type a message.";
}
