@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
html,
body {
  --main-black: #141a26;
  --brown: #361510;
  --orangeish: #b63a23;
  --purpurish: #702323;
  --white-accent: #f1a589;
  position: relative;
  height: 100vh;
  background-color: var(--white-accent);
  display: flex;
  flex-direction: column;
  color: var(--white-accent);
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}
