<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var signupBlock = $("#signup").parent();
            var loginBlock = $("#login").parent().parent();
            $("#login").click(function () {
                if ($(loginBlock).hasClass("slide-up")) {
                    $(loginBlock).removeClass("slide-up");
                    $(signupBlock).addClass("slide-up");
                }
            })
            $("#signup").click(function () {
                if ($(signupBlock).hasClass("slide-up")) {
                    $(signupBlock).removeClass("slide-up");
                    $(loginBlock).addClass("slide-up");
                }
            })
        })
    </script>
    <title>CHIRPER</title>
</head>
<!-- https://codepen.io/shayanea/pen/eVMMgO?editors=0110 -->

<body>
    <h1 th:text="#{welcome}"></h1>
    <div class="form-structor">
        <div class="signup slide-up">
            <h3 class="form-title" id="signup" th:text="#{signup}"></h3>
            <form method="POST" th:action="@{/signup}" th:object="${chirperuser}">
                <div class="form-holder">
                    <input type="text" class="input" th:errorclass="input-error" th:field="*{firstName}"
                        th:placeholder="#{first.name}" />
                    <input type="text" class="input" th:errorclass="input-error" th:field="*{lastName}"
                        th:placeholder="#{last.name}" />
                    <input type="text" class="input" th:errorclass="input-error" th:field="*{nick}"
                        th:placeholder="#{nickname}" />
                    <input type="password" class="input" th:errorclass="input-error" th:field="*{password}"
                        th:placeholder="#{password}" />
                    <input type="text" class="input" th:errorclass="input-error" th:field="*{email}"
                        th:placeholder="#{email}" />
                </div>
                <button type="submit" class="submit-btn" th:text="#{signup}"></button>
            </form>
        </div>
        <div class="login">
            <div class="center">
                <h3 class="form-title" id="login" th:text="#{login}"></h3>
                <form method="POST" th:action="@{/login}" th:object="${chirperlogin}">
                    <div class="form-holder">
                        <input type="text" class="input" th:errorclass="input-error" th:field="*{nickname}"
                            th:placeholder="#{nickname}" />
                        <input type="password" class="input" th:errorclass="input-error" th:field="*{password}"
                            th:placeholder="#{password}" />
                    </div>
                    <button type="submit" class="submit-btn" th:text="#{login}"></button>
                </form>
            </div>
        </div>
    </div>
    <h3 th:if="${noUser!=null}" th:text="#{nouser}"></h3>
    <h3 th:if="${wrongPw!=null}" th:text="#{wrongpw}"></h3>
</body>

</html>